<div class=" line2">
    <div class="lines ">
        <h2 class="Mypage-title">Contact Us</h2>


        <section class="page-container">
            <div class="testimonials ">
                <div class="testimonial-list">
                    <p>Currently, there are no FDA regulations on essential oils. So Helias is doing our part to help substantiate the category. Approved and authenticated by independent chemists, Helias lists every ingredient in each bottle, giving you confidence in every batch. We also tell you where in the world the oils were sourced from and how they are made. We pride ourselves on being pure and upfront: no chemicals. no synthetic fragrances, oils, or fillers. Just pure oils, and natural ingredients guaranteed. What you see on the ingredient list is what you get. Nothing more, nothing less.from and how they are made. We pride ourselves on being pure and upfront: no chemicals. no synthetic fragrances, oils, or fillers. Just pure oils, and natural ingredients guaranteed. What you see on the ingredient list is what you get. Nothing more, nothing less.</p>
                </div>

            </div>
        </section>

        <section id="contact">

            <div class="contact-wrapper">

                <form class="form-horizontal" role="form" method="post" action="contact.php">

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="Phone Number" class="form-control" id="email" placeholder="Phone Number" name="email" value="">
                        </div>
                    </div>

                    <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message"></textarea>

                    <button class="btn  send-button" style="background-color: #232426" id="submit" type="submit" value="SEND">
                        <div class="button">
                            <i class="fa fa-paper-plane" style="color: white"></i><span class="send-text" style="color: white">SEND</span>
                        </div>

                    </button>

                </form>

                <!----------------

                CONTACT PAGE RIGHT

                ----------------->

                <div class="direct-contact-container">

                    <ul class="contact-list">
                        <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Gwalior M.P.</span></i></li>

                        <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">(212) 555-2368</a></span></i></li>

                        <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">emailme@gmail.com</a></span></i></li>

                    </ul>

                    <hr>
                    <ul class="social-media-list">
                        <li>
                            <a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-codepen" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                    <hr>

                    <div class="copyright">&copy; ALL OF THE RIGHTS Helisa</div>

                </div>

            </div>

        </section>
    </div>
</div>