
<div style="position: absolute;">
    <canvas id="glscreen"></canvas>
</div>

<main>
    <div class="oakslider">



        <div class="oakslider__slider">
            <div class="oakslider__slide slide--active" data-slide="1">
                <div class="slide__image"><img src="./images/img3a0d8.png" alt=""></div>
                <div class="slide__container">
                    <div class="slide__content">
                        <div class="slide__title font_Index">Energy Mist</div>
                        <div class="slide__link font_pitchIndex">
                            Our Rosemary Hand Purifier is the perfect on-the-go
                            <span><div>defense for your hands against harmful bacteria and germs.</div></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="oakslider__slide" data-slide="2">
                <div class="slide__image"><img src="./images/img4d714.png" alt=""></div>
                <div class="slide__container">
                    <div class="slide__content">
                        <div class="slide__title font_Index">Calm</div>
                        <div class="slide__link font_pitchIndex">Energize any room to refresh and refocus.</div>
                    </div>
                </div>
            </div>
            <div class="oakslider__slide" data-slide="3">
                <div class="slide__image"><img src="./images/img11909.png" alt=""></div>
                <div class="slide__container">
                    <div class="slide__content">
                        <div class="slide__title font_Index">Sleep</div>
                        <div class="slide__link font_pitchIndex">Welcome to a dreamy sleep. 100% Pure Essential Oils <div>defense for your hands against harmful bacteria and germs.</div></div>
                    </div>
                </div>
            </div>
            <div class="oakslider__slide" data-slide="4">
                <div class="slide__image"><img src="./images/img237cb.png" alt=""></div>
                <div class="slide__container">
                    <div class="slide__content">
                        <div class="slide__title font_Index">Passion</div>
                        <div class="slide__link font_pitchIndex">
                            Life's Natural aphrodisiacs. 100% Pure Essential
                            <div>defense for your hands against harmful bacteria and germs.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="oakslider__ui">
            <div class="oakslider__nav">
                <div class="oakslider__navpoint">01 <div class="oakslider__timer"><div class="timer__progress"></div></div> <span class="oakslider__label">Energy Mist</span></div>
                <div class="oakslider__navpoint">02 <div class="oakslider__timer"><div class="timer__progress"></div></div> <span class="oakslider__label"> Calm</span></div>
                <div class="oakslider__navpoint">03 <div class="oakslider__timer"><div class="timer__progress"></div></div> <span class="oakslider__label">Sleep</span></div>
                <div class="oakslider__navpoint">04 <div class="oakslider__timer"><div class="timer__progress"></div></div> <span class="oakslider__label">Passion</span></div>
            </div>
            <div class="oakslider__controls">
                <div class="oakslider__arrow oakslider__arrow--left oakslider__prev"><</div>
                <div class="oakslider__arrow oakslider__arrow--right oakslider__next">></div>
            </div>
        </div>
    </div>

</main>
