
    <div class=" line2">
        <div class="lines ">


            

            <h2 class="Mypage-title">Our Facts</h2>
            <!-- Navbar -->
            <nav class="navbar-container" id="section1">
                <ul class="nav navbar">
                    <li class="nav-item active"><a href="#section1">Essential Oils</a></li>
                    <li class="nav-item"><a href="#section2">How it works</a></li>
                    <li class="nav-item"><a href="#section3">Ways to use</a></li>
                    <li class="nav-item"><a href="">Blog</a></li>
                </ul>
            </nav>

            <!-- Intro Page -->
            <section class="page-container" id="section1">
                <div class="services section" id="services">
                    <h2 class=""></h2>
                    <div class="item item-first ">

                        <figure>
                            <img src=".\images\section-1943f.jpg">
                        </figure>
                        <div class="description">

                            <p>IS2CP creates strucutred finance programs with our partners for funding small cap projects. We have developed a number of innovative models to help client companies significantly mitigate financial risk while moving their projects forward.</p>
                            <p>These models are secured so that there is no risk to principal, and guarantee minimum interest rates to the partners. The net result is a disruptive mechanism for alternative investment into small cap programs (typically under $100 million).</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 2-D Flip -->
            <div class="team section ">
                <div class="description">
                    <p class="qu-text">Each batch of Helias essential oil is approved and  by our chemists and receives a certificate of authenticity for purity.</p>
                </div>

            </div>
            <section class="page-container section-img" id="flip-3d">
                <figure>
                    <img src=".\images\section-2f390.jpg">
                </figure>
            </section>

            <section class="page-container" style="margin: 0px" id="intro">
                <div class="services section" id="services">
                    <div class="item">
                        <div class="description">
                            <p>To be a leading structured finance company supporting the needs of small cap projects in emerging markets while delivering strategies and opportunities to our clients normally available only to major market players. needs of small cap projects in emerging markets while delivering strategies and opportunities to our clients normally available </p>
                        </div>


                    </div>
                </div>

            </section>



            <nav class="navbar-container " id="section2">
                <ul class="nav navbar">
                    <li class="nav-item "><a href="#section1">Essential Oils</a></li>
                    <li class="nav-item active"><a href="#section2">How it works</a></li>
                    <li class="nav-item"><a href="#section3">Ways to use</a></li>
                    <li class="nav-item"><a href="">Blog</a></li>
                </ul>
            </nav>
            <!-- 3-D Flip -->
            <section class="page-container">
                <!-- Testimonials section - for display testimonials from clients along with some info about the project -->
                <!-- With only one testimonial, this section is a simple display -->
                <!-- Add more testimonials to create a slider/carousel of testimonials -->
                <div class="testimonials section">
                    <h2 class=""></h2>
                    <ul class="testimonial-list">
                        <li class="testimonial">
                            <div class="testimonial-details">
                                <div class="client-info font_text">
                                    <h3>Topically</h3>
                                    <p style="color : #c1c4c6">Absorbed through lungs</p>
                                </div>
                                <div class="quote">
                                    <p>Essential oils have a very small chemical size which makes them excellent vessels. This means that essential oils are easily able to penetrate the skin and pass into the bloodstream and into different areas of the body for internal therapeutic benefits and external therapeutic benefits. This makes essential oils particularly beneficial to your skin and hair helping from the outside in.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="testimonial-list">
                        <li class="testimonial">
                            <div class="testimonial-details">
                                <div class="client-info font_text">
                                    <h3>Aromatically</h3>
                                    <p style="color: #c1c4c6">Absorbed lungs absorbed </p>
                                </div>
                                <div class="quote">
                                    <p>Essential oils are absorbed into the bloodstream when inhaled. The large amount of blood vessels in the lungs absorb the oils and then circulate them throughout the body. Our diffuser is the perfect way to receive the full aromatic benefits of the oils.</p>
                                </div>
                            </div>
                            <!-- Images for the portfolio should be about 300px wide - any height -->

                        </li>
                    </ul>
                </div>


            </section>
            <section class="page-container section-img">
                <figure>
                    <img src=".\images\section-34982.jpg">
                </figure>
            </section>

            <nav class="navbar-container" id="section3">
                <ul class="nav navbar">
                    <li class="nav-item"><a href="#section1">Essential Oils</a></li>
                    <li class="nav-item"><a href="#section2">How it works</a></li>
                    <li class="nav-item active"><a href="#section3">Ways to use</a></li>
                    <li class="nav-item"><a href="">Blog</a></li>
                </ul>
            </nav>

            <section class="page-container">
                <div class="hover-body">

                    <!-- Page arr
                ================================================== -->

                    <div class='arr2' id="arr2"></div>
                    <div class='arr3' id="arr3"></div>

                    <div class="section-hover">
                        <ul class="blur-wrapper">
                            <li class="blur-name">
                                <a href="#" class="hover-target">nature</a>
                            </li>
                            <li class="blur-name">
                                <a href="#" class="hover-target">travel</a>
                            </li>
                            <li class="blur-name">
                                <a href="#" class="hover-target">fashion</a>
                            </li>
                            <li class="blur-name">
                                <a href="#" class="hover-target">culture</a>
                            </li>
                        </ul>
                        <ul class="blur-images">
                            <li>
                                <div class="img-hero-background">
                                    <span>
                                        <img src="https://ivang-design.com/svg-load/slider/1.jpg" alt="">
                                    </span>
                                    <span>
                                        <img src="https://ivang-design.com/svg-load/slider/2.jpg" alt="">
                                    </span>
                                    <span>
                                        <img src="https://ivang-design.com/svg-load/slider/3.jpg" alt="">
                                    </span>
                                    <span>
                                        <img src="https://ivang-design.com/svg-load/slider/4.jpg" alt="">
                                    </span>
                                </div>
                                <div class="hero-number-back">01</div>
                                <div class="hero-number">01</div>
                                <div class="hero-number-fixed">04</div>
                            </li>
                            <li>
                                <div class="img-hero-background">
                                    <span>
                                        <img src="https://ivang-design.com/svg-load/slider/5.jpg" alt="">
                                    </span>
                                    <span>
                                        <img src="https://ivang-design.com/svg-load/slider/6.jpg" alt="">
                                    </span>
                                    <span>
                                        <img src="https://ivang-design.com/svg-load/slider/7.jpg" alt="">
                                    </span>
                                    <span>
                                        <img src="https://ivang-design.com/svg-load/slider/8.jpg" alt="">
                                    </span>
                                </div>
                                <div class="hero-number-back">02</div>
                                <div class="hero-number">02</div>
                            </li>
                            <li>
                                <div class="img-hero-background">
                                    <span>
                                        <img src="https://ivang-design.com/svg-load/slider/9.jpg" alt="">
                                    </span>
                                    <span>
                                        <img src="https://ivang-design.com/svg-load/slider/10.jpg" alt="">
                                    </span>
                                    <span>
                                        <img src="https://ivang-design.com/svg-load/slider/11.jpg" alt="">
                                    </span>
                                    <span>
                                        <img src="https://ivang-design.com/svg-load/slider/12.jpg" alt="">
                                    </span>
                                </div>
                                <div class="hero-number-back">03</div>
                                <div class="hero-number">03</div>
                            </li>
                            <li>
                                <div class="img-hero-background">
                                    <span>
                                        <img src="https://ivang-design.com/svg-load/slider/13.jpg" alt="">
                                    </span>
                                    <span>
                                        <img src="https://ivang-design.com/svg-load/slider/14.jpg" alt="">
                                    </span>
                                    <span>
                                        <img src="https://ivang-design.com/svg-load/slider/15.jpg" alt="">
                                    </span>
                                    <span>
                                        <img src="https://ivang-design.com/svg-load/slider/16.jpg" alt="">
                                    </span>
                                </div>
                                <div class="hero-number-back">04</div>
                                <div class="hero-number">04</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="page-container" id="intro">
                <div class=" section" id="services">
                    <p class="foot-text">EXPLORE OUR PRODUCTS</p>
                    <h2 class=" last-text">Shop</h2>
                    <div class="item item-first ">
                        <div>
                            <p>© 2020 All Rights Reserved. Helias Oils</p>
                        </div>
                    </div>
            </section>


            </section>

        </div>
    </div>