
<div class=" line2">
    <div class="lines ">

        <div class="pd-wrap">

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div id="slider" class="owl-carousel product-slider ">
                            <div class="item product_img">
                                <img src="./images/img4d714.png" />
                            </div>
                            <div class="item product_img">
                                <img src="./images/img3a0d8.png" />
                            </div>
                            <div class="item product_img">
                                <img src="./images/img4d714.png" />
                            </div>
                            <div class="item product_img">
                                <img src="./images/img3a0d8.png" />
                            </div>
                        </div>
                        <div id="thumb" class="owl-carousel product-thumb">
                            <div class="item active">

                            </div>
                            <div class="item">

                            </div>
                            <div class="item">

                            </div>
                            <div class="item">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-dtl">
                            <div class="product-info">
                                <div class=" text-hed ">Rosemary</div>
                                <div class="reviews-counter">
                                    <div class="rate">
                                        <input type="radio" id="star5" name="rate" value="5" checked />
                                        <label for="star5" title="text">5 stars</label>
                                        <input type="radio" id="star4" name="rate" value="4" checked />
                                        <label for="star4" title="text">4 stars</label>
                                        <input type="radio" id="star3" name="rate" value="3" checked />
                                        <label for="star3" title="text">3 stars</label>
                                        <input type="radio" id="star2" name="rate" value="2" />
                                        <label for="star2" title="text">2 stars</label>
                                        <input type="radio" id="star1" name="rate" value="1" />
                                        <label for="star1" title="text">1 star</label>
                                    </div>
                                    <span>3 Reviews</span>
                                </div>
                                <div class="product-price-discount"><span>$39.00</span><span class="line-through">$29.00</span></div>
                            </div>
                            <p>Relaxation, improved memory, gorgeous hair - the many talents of  Rosemary. Our 100% Pure Rosemary Essential Oil from Spain is a refreshing, herbaceous and sweet essential oil extracted from the rosemary plant via sslide_part distillation which produces the highest quality oil you can find. It’s been used for centuries for its natural stress-reducing qualities in addition to its ability to help your mind focus, enhance learning and improve memory. Rosemary oil has properties that help stimulate hair growth and its unique antifungal properties are natural remedies for dandruff.</p>
                            <div class="product-count">
                                <label for="size" class="temp_text">Quantity</label>
                                <form action="#" class="display-flex">
                                    <div class="qtyminus">-</div>
                                    <input type="text" name="quantity" value="1" class="qty">
                                    <div class="qtyplus">+</div>
                                </form>
                                <a href="#" class="round-black-btn">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-info-tabs" id="description">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item temp_text ft-23">
                            <a class="nav-link active " id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item temp_text ft-23">
                            <a class="nav-link" id="review-tab" data-toggle="tab" href="#review1" role="tab" aria-controls="review" aria-selected="false">Reviews (0)</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="description-tab">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div id="slide_part">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-12 pull-right">
                        <div class="slide_part-section-text">
                            <div class="section-count">
                                <span>01</span>
                            </div>
                            <!-- END section-count-->
                            <div class="section-text">
                                <h2 class="section-title text_team">Relaxation, improved memory, gorgeous hair </h2>
                                <p>
                                    Your perfect landing page to present your app. Ignis re volorerovit qui offic tenimo minvenietur sus aut vid et adis est pressus.
                                </p>
                            </div>
                            <!-- END section-text-->
                        </div>
                        <!-- END slide_part-section-text-->
                    </div>
                    <!-- END col-md-5 col-sm-12 pull-right-->
                    <div class="col-md-7 col-sm-12">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="slide_part-list">
                                    <ul>
                                        <li class="wow zoomIn" data-wow-duration="1s" data-wow-delay=".1s">
                                            <a href="#slide_part-1" data-slide_part="slide_part-1">
                                                <figure>
                                                    <img src="./images/product-passione68f.jpg" alt="slide_part Member image One">
                                                </figure>
                                            </a>
                                        </li>
                                        <li class="active wow zoomIn" data-wow-duration="1s" data-wow-delay=".3s">
                                            <a href="#slide_part-2" data-slide_part="slide_part-2">
                                                <figure>
                                                    <img src="./images/product-rosemary5193.jpg " alt="slide_part Member image two">
                                                </figure>
                                            </a>
                                        </li>
                                        <li class="wow zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                                            <a href="#slide_part-3" data-slide_part="slide_part-3">
                                                <figure>
                                                    <img src="./images/product-lavenderb5e2.jpg" alt="slide_part Member image three">
                                                </figure>
                                            </a>
                                        </li>
                                        <li class="wow zoomIn" data-wow-duration="1s" data-wow-delay=".7s">
                                            <a href="#slide_part-4" data-slide_part="slide_part-4">
                                                <figure>
                                                    <img src="./images/product-passione68f.jpg" alt="slide_part Member image four">
                                                </figure>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- END slide_part-list-->
                            </div>
                            <!-- END col-sm-4-->
                            <div class="col-md-9 col-sm-8">

                                <div id="slide_part-1" class="slide_part-single">
                                    <div class="slide_part-img">
                                        <img src="./images/product-passione68f.jpg" alt="">

                                        <!-- END slide_part-social-->
                                    </div>
                                    <!-- END slide_part-img-->
                                    <div class="slide_part-info text-center">
                                        <h4>Andy Maray</h4>
                                        <p>Founder &amp; CEO</p>
                                    </div>
                                    <!-- END slide_part-info-->
                                </div>
                                <!-- END slide_part-single-->


                                <div id="slide_part-2" class="slide_part-single active">
                                    <div class="slide_part-img">
                                        <img src="./images/product-rosemary5193.jpg" alt="">

                                        <!-- END slide_part-social-->
                                    </div>
                                    <!-- END slide_part-img-->
                                    <div class="slide_part-info text-center">
                                        <h4>Gustavo Souza</h4>
                                        <p>Naive Designer</p>
                                    </div>
                                    <!-- END slide_part-info-->
                                </div>
                                <!-- END slide_part-single-->


                                <div id="slide_part-3" class="slide_part-single">
                                    <div class="slide_part-img">
                                        <img src="./images/product-lavenderb5e2.jpg" alt="">

                                        <!-- END slide_part-social-->
                                    </div>
                                    <!-- END slide_part-img-->
                                    <div class="slide_part-info text-center">
                                        <h4>Nikolaos Markopoulos</h4>
                                        <p>Developer</p>
                                    </div>
                                    <!-- END slide_part-info-->
                                </div>
                                <!-- END slide_part-single-->


                                <div id="slide_part-4" class="slide_part-single">
                                    <div class="slide_part-img">
                                        <img src="./images/product-passione68f.jpg" alt="">

                                        <!-- END slide_part-social-->
                                    </div>
                                    <!-- END slide_part-img-->
                                    <div class="slide_part-info text-center">
                                        <h4>Nur jaman</h4>
                                        <p>Developer</p>
                                    </div>
                                    <!-- END slide_part-info-->
                                </div>
                                <!-- END slide_part-single-->

                            </div>
                            <!-- END col-sm-8-->
                        </div>
                        <!-- END row-->
                    </div>
                    <!-- END col-md-7 col-sm-12 -->
                </div>
                <!-- END row-->
            </div>
            <!-- END container-->
        </div>




        <section class="page-container" style="background-color: #f4f7fa;" id="intro">
            <div class="services section" id="services">
                <div class="item">

                    <div class="description">
                        <h3 class="text_al"> Rosemary</h3>
                        <p>IS2CP creates strucutred finance programs with our partners for funding small cap projects. We have developed a number of innovative models to help client</p>
                        <p>These models are secured so that there is no risk to principal, and guarantee  </p>
                        <a class="pale" style="color: balck; font-weight: 500"> DERIVED BY: Sslide_part DISTILLED</a>
                    </div>
                    <figure>
                        <img src="https://i.ya-webdesign.com/images/vector-designer-creative-14.png">
                    </figure>
                </div>
        </section>



        <section class="page-container">
            <div class="testimonials section">
                <ul class="testimonial-list">
                    <div class="testimonial-details middel-text">
                        <p style="font-family: 'Oswald', sans-serif !important; font-size: 100px !important ; line-height: 100px;">
                            " The Mozart Effect: Why classical music is proven to help with focus "
                        </p>
                    </div>
                    <a href="#" class="round-black-btn">Rosemary Oil</a>
                </ul>
            </div>
        </section>

        <section class="page-container" style="background-color: #f4f7fa;" id="intro">
            <div class="services section" id="services">
                <div class="item">
                    <figure>
                        <img class=" img_temp" src="./images/product-jojoba28cc.jpg">

                    </figure>
                    <div class="description">
                        <h3 class="text_al"> Team Tip</h3>
                        <p>“Rosemary Oil is a favorite for anything to do with hair. Mix 1 part Rosemary oil and 4 parts Jojoba oil and massage into scalp before bed for an overnight hair growth mask.” -Vini</p>
                        <p>“Add a few drops to your palms, rub together, cup my palms over my mouth and nose and take around 5 deep breaths to gain clarity and focus before any stressful event.” -Rob</p>

                    </div>

                </div>
        </section>

        <h2 class="Mypage-title" id="review1">Guest Stories</h2>
        <div class="container">
            <div class="section" style="border-bottom: 1px solid #eee;">
                <div class="section-header">
                    <div class="section-text">
                        <h3>Review</h3>
                        <form id="rating" class="form">
                            <fieldset class="rating">
                                <input name="rating" type="radio" id="rating5" value="5" />
                                <label for="rating5" title="5 stars">☆</label>

                                <input name="rating" type="radio" id="rating4" value="4" />
                                <label for="rating4" title="4 stars">☆</label>

                                <input name="rating" type="radio" id="rating3" value="3" />
                                <label for="rating3" title="3 stars">☆</label>

                                <input name="rating" type="radio" id="rating2" value="2" checked="checked" />
                                <label for="rating2" title="2 stars">☆</label>

                                <input name="rating" type="radio" id="rating1" value="1" />
                                <label for="rating1" title="1 stars">☆</label>
                            </fieldset>
                        </form>
                    </div>
                    <button class="toggle-section toggle-btn"
                            data-toggle-content="section1">
                        Add Review
                    </button>
                </div>
                <div class="section-content" id="section1">
                    <script src="https://use.fontawesome.com/a6f0361695.js"></script>

                    <form id="feedback" action="">
                        <div class="pinfo">Your personal info</div>

                        <div class="form-group">
                            <div class="col-m inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input name="name" placeholder="John Doe" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-m inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input name="email" type="email" class="form-control" placeholder="john.doe@yahoo.com">
                                </div>
                            </div>
                        </div>



                        <div class="pinfo">Rate our Services</div>


                        <div class="form-group">
                            <div class="col-m inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-heart"></i></span>
                                    <select class="form-control" id="rate">
                                        <option value="1star">1</option>
                                        <option value="2stars">2</option>
                                        <option value="3stars">3</option>
                                        <option value="4stars">4</option>
                                        <option value="5stars">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="pinfo">Write your feedback.</div>


                        <div class="form-group">
                            <div class="co inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                    <textarea class="form-control" id="review" rows="3"></textarea>

                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>


                    </form>
                </div>
            </div>

        </div>






        <div class="gtco-testimonials">
            <div class="owl-carousel owl-carousel1 owl-theme">
                <div>
                    <div class="card text-center">
                        <div class="card-body">
                            <h5>
                                Ronne Galle <br />
                                <span> Project Manager </span>
                            </h5>
                            <p class="card-text">
                                “ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                impedit quo minus id quod maxime placeat ”
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card text-center">
                        <div class="card-body">
                            <h5>
                                Missy Limana<br />
                                <span> Engineer </span>
                            </h5>
                            <p class="card-text">
                                “ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                impedit quo minus id quod maxime placeat ”
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card text-center">
                        <div class="card-body">
                            <h5>
                                Martha Brown<br />
                                <span> Project Manager </span>
                            </h5>
                            <p class="card-text">
                                “ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                impedit quo minus id quod maxime placeat ”
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card text-center">
                        <div class="card-body">
                            <h5>
                                Hanna Lisem<br />
                                <span> Project Manager </span>
                            </h5>
                            <p class="card-text">
                                “ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                impedit quo minus id quod maxime placeat ”
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div style="background-color:#edebeb">
    <br>
    <h2 class="Mypage-title">You May Like</h2>
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="dress-card">
                    <div class="dress-card-head">
                        <img class="dress-card-img-top" src="./images/product-passione68f.jpg" alt="">
                    </div>
                    <div class="dress-card-body">
                        <h4 class="dress-card-title">Harpa</h4>
                        <p class="dress-card-para" style="text-align: inherit">Nam libero tempore</p>
                        <p class="dress-card-para"><span class="dress-card-price">Rs.839 &ensp;</span><span class="dress-card-crossed">Rs.2099</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
                        <div class="row">
                            <div class="col-md-6 card-button"><a href=""><div class="card-button-inner bag-button">Add to Bag</div></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="dress-card">
                    <div class="dress-card-head">
                        <img class="dress-card-img-top" src="./images/product-lavenderb5e2.jpg" alt="">
                    </div>
                    <div class="dress-card-body">
                        <h4 class="dress-card-title">Harpa</h4>
                        <p class="dress-card-para" style="text-align: inherit">Womans my palms over my mouth and nose</p>
                        <p class="dress-card-para"><span class="dress-card-price">Rs.839 &ensp;</span><span class="dress-card-crossed">Rs.2099</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
                        <div class="row">
                            <div class="col-md-6 card-button"><a href=""><div class="card-button-inner bag-button">Add to Bag</div></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="dress-card">
                    <div class="dress-card-head">
                        <img class="dress-card-img-top" src="./images/product-sleep4518.jpg " alt="">
                    </div>
                    <div class="dress-card-body">
                        <h4 class="dress-card-title">Harpa</h4>
                        <p class="dress-card-para" style="text-align: inherit">my palms over my mouth and nose</p>
                        <p class="dress-card-para"><span class="dress-card-price">Rs.839 &ensp;</span><span class="dress-card-crossed">Rs.2099</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
                        <div class="row">
                            <div class="col-md-6 card-button"><a href=""><div class="card-button-inner bag-button">Add to Bag</div></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="dress-card">
                    <div class="dress-card-head">
                        <img class="dress-card-img-top" src="./images/product-rosemary5193.jpg" alt="">
                    </div>
                    <div class="dress-card-body">
                        <h4 class="dress-card-title">Harpa</h4>
                        <p class="dress-card-para" style="text-align: inherit">Womans printed clothing</p>
                        <p class="dress-card-para"><span class="dress-card-price">Rs.839 &ensp;</span><span class="dress-card-crossed">Rs.2099</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
                        <div class="row">
                            <div class="col-md-6 card-button"><a href=""><div class="card-button-inner bag-button">Add to Bag</div></a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<div class='box'>
    <div class='wave -one'></div>
    <div class='wave -two'></div>
    <div class='wave -three'></div>
</div>

