<section class="container">
    <div class="page-header">
        <h1>Shop +<br></h1>
    </div>
    <div class="row active-with-click " style="margin: auto">
        <div class="col-md-3 col-sm-6 col-xs-12 res">
            <article class="material-card Red">
                <h2>
                    <span>Christopher Walken</span>
                    <strong>
                        The Deer Hunter
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="https://www.salebhai.com/content/images/thumbs/0033001_antique-products.png">
                    </div>
                    <div class="mc-description">
                        <ul style="list-style-type:none; line-height:150%">
                            <li><a href="./ProductIndex.html">Product 1</a></li>
                            <li>Product 2</li>
                            <li>Product 3</li>
                            <li>Safari</li>
                            <li>Opera</li>
                        </ul>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>

            </article>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 res">
            <article class="material-card Red">
                <h2>
                    <span>Christopher Walken</span>
                    <strong>
                        The Deer Hunter
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="https://static.wixstatic.com/media/2cd43b_5d66d90bf5d245da99dd31afaed3590d~mv2.png">
                    </div>
                    <div class="mc-description">
                        <ul style="list-style-type:none; line-height:150%">
                            <li>Google Chrome</li>
                            <li>Internet Explorer</li>
                            <li>Mozilla Firefox</li>
                            <li>Safari</li>
                            <li>Opera</li>
                        </ul>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>

            </article>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 res">
            <article class="material-card Red">
                <h2>
                    <span>Christopher Walken</span>
                    <strong>
                        The Deer Hunter
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="https://www.salebhai.com/content/images/thumbs/0033001_antique-products.png">
                    </div>
                    <div class="mc-description">
                        <ul style="list-style-type:none; line-height:150%">
                            <li>Google Chrome</li>
                            <li>Internet Explorer</li>
                            <li>Mozilla Firefox</li>
                            <li>Safari</li>
                            <li>Opera</li>
                        </ul>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>

            </article>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 res">
            <article class="material-card Red">
                <h2>
                    <span>Christopher Walken</span>
                    <strong>
                        The Deer Hunter
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="https://lh3.googleusercontent.com/proxy/7rGaFmcFFrDmCRN8JoriFzEM_YJzqlQEMyOL7DCfC25qLr1jW-D5LpvF6eVjRhI71mc78CHYB_scKXrkLC3WsEoflHaxdeWNIJed3wK2HaS9s0pJV3LV3MxJCnU">
                    </div>
                    <div class="mc-description">
                        <ul style="list-style-type:none; line-height:150%">
                            <li>Google Chrome</li>
                            <li>Internet Explorer</li>
                            <li>Mozilla Firefox</li>
                            <li>Safari</li>
                            <li>Opera</li>
                        </ul>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>

            </article>
        </div>

    </div>
</section>

<main class="body-net main-net">
    <header class="header-net">
        <h1>Shop Gift</h1>
    </header>

    <section class="section-net">

        <!-- Card Column One -->
        <div class="flex-col">
            <div class="cards one">
                <h3>Supervisor</h3>
                <p>Monitors activity to identify project roadblocks</p>
            </div>
        </div>

        <!-- Card Column Two -->
        <div class="flex-col">
            <div class="cards two">
                <h3>Team Builder</h3>
                <p>Scans our talent network to create this optimal team for your project</p>
            </div>
            <div class="cards three">
                <h3>Karma</h3>
                <p>Regularly evaluates our talent to ensure quality</p>
            </div>
        </div>

        <!-- Card Column Three -->
        <div class="flex-col">
            <div class="cards four">
                <h3>Calculator</h3>
                <p>Uses data from past projects to provide better delivery estimates</p>
            </div>
        </div>

    </section>
</main>

